#servicos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 700px;
	height: 500px;
	margin-left: 117px;
	color: #666666;


}
#base {
	background-image: url(../images/index_19.jpg);
	height: 94px;
	width: 1000px;
}
#geral {
	height: 768px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
