#tudo {
	height: 1000px;
	width: 1000px;
	margin-top: -7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#menu {
	height: 50px;
	font-family: Verdana, Geneva, sans-serif;
	margin-bottom: 100px;
}
h2 {
	text-align: center;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}
#texto {
	height: 500px;
	width: 400px;
	float: left;
	position: relative;
	margin-left: 100px;
	margin-bottom: 200px;
}
#foto {
	float: left;
	height: 276px;
	width: 170px;
	position: relative;
	margin-left: 200px;
	text-align: center;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-top: 50px;
}
#rodape {
	clear: left;
	height: 50px;
}

.nome{
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	  
	}
.data{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
}
#pinturas {
	text-align: center;
}

#biografia {
	height: 700px;
	width: 750px;
	text-align: center;
	margin-left: 100px;
}

p{
	font-family:Helvetica, sans-serif;
	font-size:18px;
	text-align: justify;
}
body {
	background-color: #FFF8DC;
}
